@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width:50%;margin-top:10%;">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Login" asp-action="LoginUser" method="post">
                <div class="form-floating mb-3">
                    <input type="email" required class="form-control" name="email" placeholder="name@example.com" value="stev.199279@gmail.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" required class="form-control" name="password" placeholder="Password" value="1234">
                    <label for="floatingPassword">Password</label>
                </div>
                <hr />
                <button type="submit" class="btn btn-success" style="float:right">Login</button>
            </form>
            <form asp-controller="SignIn" asp-action="Index" method="post">
                <button type="submit" class="btn btn-primary" style="float:left">Sign In</button>
            </form>
        </div>
    </div>
</div>
